/* You can add global styles to this file, and also import other style files */
.content {
    
    margin: 15px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; 
    padding: 20px;
    width: 600px;
}
h2{
    text-align: center; 
    color: #594caf;

}